<h1>{{ title }}</h1>

<!-- Criar uma tela para exibir o cronômetro e outra tela
para exibir as configurações -->

<div>
  <button *ngIf="!config" (click)="config = true">Configurações</button>
  <button *ngIf="config" (click)="config = false">Voltar</button>
</div>

<div>
  <app-configuracoes *ngIf="config" [exerciciosArray]="exerciciosArray">
    <h2>Configurações</h2>
  </app-configuracoes>

  <app-cronometro *ngIf="!config" [exerciciosArray]="exerciciosArray">
    <h2>Cronômetro</h2>
  </app-cronometro>
</div>
