<div>
  <div>
    Nome do exerício: <input type="text" [(ngModel)]="exercicios.nomeDoExercicio">
  </div>
  <div>
    Preparação: <input type="number" [(ngModel)]="exercicios.preparacao">
  </div>
  <div>
    Duração: <input type="number" [(ngModel)]="exercicios.duracao">
  </div>
  <div>
    Descanso: <input type="number" [(ngModel)]="exercicios.descanso">
  </div>
  <div>
    Repetições: <input type="number" [(ngModel)]="exercicios.repeticoes">
  </div>
  <button (click)="incluirExercicio()">Adicionar</button>
</div>

<table>
  <tr>
    <th>Exercício</th>
    <th>Preparação</th>
    <th>Duração</th>
    <th>Descanso</th>
    <th>Repetições</th>
    <th></th>
  </tr>
  <tr *ngFor="let exercicio of exerciciosArray; let i = index">
    <td>{{exercicio.nomeDoExercicio}}</td>
    <td>{{exercicio.preparacao}}</td>
    <td>{{exercicio.duracao}}</td>
    <td>{{exercicio.descanso}}</td>
    <td>{{exercicio.repeticoes}}</td>
    <td><button (click)="excluirExercicio(i)">Excluir</button></td>
  </tr>
</table>
