<h1>{{ title }}</h1>

<form [formGroup]="updateContactForm" (submit)="submitUpdate()">
  <input type="text" placeholder="Digitar nome" name="name" formControlName="name">
  <input type="text" placeholder="Digitar telefone" name="phone" formControlName="phone">
  <div>
    <button><a routerLink="/contacts" class="contact-list-btn">Voltar</a></button>
    <button type="submit" [disabled]="updateContactForm.invalid || !updateContactForm.dirty" class="update-contact">Atualizar</button>
  </div>
</form>


