<h1>{{ title }}</h1>

<form [formGroup]="girls">
  <div>
    <input type="text" placeholder="Digite um nome" [(ngModel)]="girl" formControlName="member">
  </div>

  <div>
    <select [(ngModel)]="group" formControlName="group">
      <option value="">Selecione</option>
      <option *ngFor="let group of groups" value={{group}}>{{group}}</option>
    </select>
  </div>
</form>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Group</th>
  </tr>
  <tr *ngFor="let girl of girlsArray | girlSearch:girl | girlSelect:group">
    <td>{{girl.id}}</td>
    <td>{{girl.name}}</td>
    <td>{{girl.group}}</td>
  </tr>
</table>
