<h1 class="create-contact-title">{{ title }}</h1>

<form [formGroup]="createContactForm" (submit)="submitContact()" class="create-contact-form">
  <input type="text" placeholder="Digitar nome" formControlName="name" name="name" class="contact-name">
  <input type="text" placeholder="Digitar telefone" formControlName="phone" name="phone" class="contact-phone">
  <div>
    <button class="clean-contact-form">Cancelar</button>
    <button type="submit" [disabled]="createContactForm.invalid" class="include-contact">Cadastrar</button>
  </div>
</form>
