<body>
  <section class="wrapper">
    <ul class="girls grid">
      <li *ngFor="let girl of girls">
        <div class="card">
          <div class="card__image">
            <img src="{{girl.imageLink}}" alt="{{girl.name}}">
          </div>
          <div class="card__content">
            <div class="card__content-box">
              <h3>{{girl.name}}</h3>
              <button (click)="openModal(girl)">Learn More</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>


  <section class="modal" *ngIf="showModal">
    <div class="modal__content">
      <button class="modal__content-close" (click)="closeModal()">Close</button>
      <ul class="row">
        <li>
          <img src="{{imageSrc}}" alt="{{nameSrc}}">
        </li>
        <li>
          <h1>{{nameSrc}}</h1>
          <div class="container">
            <div class="left">
              <p>Age:</p>
              <p>Country:</p>
              <p>MBTI:</p>
            </div>
            <div class="right">
              <p>{{ageSrc}}</p>
              <p>{{countrySrc}}</p>
              <p>{{personality}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</body>

<router-outlet></router-outlet>
