<section>
  <div class="row">
    <div class="cards" *ngFor="let girl of girls">
      <div class="cards__image">
        <img src="{{girl.imageLink}}" alt="{{girl.name}}">
      </div>
      <div class="cards__content">
        <div class="cards__content-details">
          <h2>{{girl.name}}</h2>
          <button class="cards_content-details-button" (click)="openModal()">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="modal" *ngIf="showModal">
  <div class="modal__content">
    <button class="modal__content-close" (click)="closeModal()">Close</button>
    <div class="modal__content-container" *ngFor="let girl of girls">
      <div class="modal__content-image">
        <img src="{{girl.imageLink}}" alt="{{girl.name}}">
      </div>
      <div class="modal__content-info">
        <div class="modal__content-info-title">
          <h1>{{girl.name}}</h1>
        </div>
        <div class="modal__content-info-data">
          <div class="container">
            <div class="left">
              <p>Age:</p>
              <p>Country:</p>
              <p>MBTI:</p>
            </div>
            <div class="right">
              <p>{{girl.age}}</p>
              <p>{{girl.country}}</p>
              <p>{{girl.MBTI}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
