<section>

</section>

<section>
  <div class="row">
    <div class="cards">
      <div class="cards__image">
        <!-- <img
          src="https://images.unsplash.com/photo-1577023311546-cdc07a8454d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt="Gato olhando para a janela"> -->
      </div>
      <div class="cards__content">
        <div class="cards__content-details">
          <h2>Choi Yujin</h2>
          <button>Learn More</button>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="cards__image">
        <img
          src="https://images.unsplash.com/photo-1577023311546-cdc07a8454d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt="Gato olhando para a janela">
      </div>
      <div class="cards__content">
        <div class="cards__content-details">
          <h2>Choi Yujin</h2>
          <button>Learn More</button>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="cards__image">
        <img
          src="https://images.unsplash.com/photo-1577023311546-cdc07a8454d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt="Gato olhando para a janela">
      </div>
      <div class="cards__content">
        <div class="cards__content-details">
          <h2>Choi Yujin</h2>
          <button>Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="modal">
  <div class="modal__content">
    <button class="modal__content-close">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
          stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
          font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#6e3764">
            <path d="M23.66763,33.80482l10.13502,-10.13537l114.52973,114.52573l-10.13502,10.13537z"></path>
            <path d="M23.66945,138.19735l114.52573,-114.52973l10.13537,10.13502l-114.52573,114.52973z"></path>
          </g>
        </g>
      </svg>
    </button>
    <div class="modal__content-container">
      <div class="modal__content-image">
        <img
          src="https://images.unsplash.com/photo-1577023311546-cdc07a8454d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt="Gato olhando para a janela">
      </div>
      <div class="modal__content-info">
        <div class="modal__content-info-title">
          <h1>Choi Yujin</h1>
        </div>
        <div class="modal__content-info-data">
          <div class="container">
            <div class="left">
              <p><span>Age: </span></p>
              <p><span>Country: </span></p>
              <p><span>MBTI: </span></p>
            </div>
            <div class="right">
              <p><span>24</span></p>
              <p><span>South Korea</span></p>
              <p><span>ENFP</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
